/* 
    Patch 2017-12-16: Add an alternative dashboard.
    This file should be formatted by Visual Studio.
*/

/* ===== Header and Navigation ===== */

.mdl-layout__drawer .mdl-navigation {
    text-transform: uppercase;
}

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link.is-active {
        background-color: #E0E0E0;
    }

    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link .nano-icon-adjust {
        position: relative;
        top: -1px;
        margin-right: 7px;
    }

.mdl-layout__tab-bar .mdl-layout__tab .nano-icon-adjust {
    position: relative;
    top: 7px;
    margin-right: 5px;
}

@media (min-width: 760px) {
    .mdl-layout__header-row .mdl-navigation .mdl-button {
        margin-right: 2em;
    }
}

.mdl-layout__header .mdl-layout__drawer-button {
    display: none;
}

.mdl-layout-title.nano-only-small-screen {
    display: none;
}

@media (max-width: 1024px) {
    .mdl-layout__header .mdl-layout__drawer-button {
        display: block;
    }

    .mdl-layout-title.nano-only-small-screen {
        display: block;
    }

    .mdl-layout__header .mdl-layout__tab-bar-container {
        display: none;
    }

    .mdl-layout-title.nano-only-large-screen {
        display: none;
    }
}

/*
    The screen is just too tiny, the user can still know which tab they are on
    from the navigation drawer.
*/
@media (max-width: 480px) {
    .mdl-layout-title.nano-only-small-screen {
        display: none;
    }
}

/* ===== Tabs Common ===== */

/* https://github.com/google/material-design-lite/issues/1558 */
.mdl-switch {
    height: 100%;
}

.mdl-layout__content .mdl-layout__tab-panel {
    padding: 10px;
    padding-top: 48px;
}

section.nano-section-center {
    margin-bottom: 48px;
    max-width: 860px;
}

.mdl-card .mdl-card__supporting-text {
    padding: 40px;
    width: calc(100% - 80px);
}

    .mdl-card .mdl-card__supporting-text h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }

.nano-option-row {
    padding-left: 20px;
    margin-bottom: 20px;
    min-height: 32px;
    color: #000000;
}

    .nano-option-row:nth-last-of-type(1) {
        margin-bottom: 0px;
    }

    .nano-option-row .mdl-switch__label {
        position: relative;
        top: 1px;
    }

        .nano-option-row .mdl-switch__label.nano-info-adjust {
            position: relative;
            top: -2px;
        }

@media (max-width: 1024px) {
    .nano-option-row {
        padding-left: 10px;
        margin-bottom: 40px;
    }

        .nano-option-row:nth-last-of-type(1) {
            margin-bottom: 0px;
        }
}

.mdl-switch__label.nano-info-adjust .mdl-button {
    position: relative;
    top: -1px;
}
