/* 
    Patch 2017-12-16: Add an alternative dashboard.
    This file should be formatted by Visual Studio.
*/

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.nano-tab-active {
    background-color: #E0E0E0;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .nano-icon-adjust {
    position: relative;
    top: -1px;
    padding-right: 7px;
}

@media (min-width: 760px) {
    .mdl-button {
        margin-right: 2em;
    }
}

@media(min-width:1025px) {
    .nano-only-small-screen {
        display: none;
    }
}
