/* 
    Patch 2017-12-16: Add an alternative dashboard.
    This file should be formatted by Visual Studio.
*/

.nano-hover-effect:hover {
    color: #FFFFFF;
}

.nano-icon-adjust {
    position: relative;
    top: 7px;
    padding-right: 5px;
}

@media (min-width: 760px) {
    .mdl-button {
        margin-right: 2em;
    }
}
