/* Patch 2017-12-12: Change textarea to IDE */
div > p:first-child {
    margin-top: 0;
    }
div > p:last-child {
    margin-bottom: 0;
    }
#whitelist {
    height: 60vh;
    margin: 0;
    padding: 1px;
    }
